.baner-careting{
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.row1{
    width: 70%;
    margin: 0 auto;
}
.row2{
    width: 50%;
    margin: 0 auto;
    
}
.part2{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15%;
    grid-gap: 30px;
    overflow-x: auto;
}
::-webkit-scrollbar{
    width: 0.1px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(218, 217, 217);

}
::-webkit-scrollbar-track{
    background-color: rgb(252, 252, 252);
}
.img-item{
    border-radius: 10px;
    height: 300px;
    scroll-snap-align: center;
}
.img-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}


@media screen and (max-width: 768px){
    .baner-careting{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .row1{
        width:100%;
        margin: 0 auto;
    }
    .row2{
        width: 100%;
    }
    .part2{
        grid-auto-columns: 70%;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
    }   
}
@media only screen and (min-width:768px) and (max-width: 1199px) {
    .baner-careting{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .row1{
        width: 100%;
        margin: 0 auto;
        flex-direction: row;
        align-items: flex-start;
    }
    .part2{
        grid-auto-columns: 30%;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
    }    
}
