/* section menu */
.d-flex .qtycart{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(87, 156, 8, 0.938);
   border-radius:7px;
   width: 15px;
   height: 17px;
   text-decoration: none;
   color: #ffff;
   position: absolute;
   right: 0;
   top: 0;
   transform: translate(50%,50%);

}
.ping{
   position: relative;
}
.baner{
   object-fit: cover;
   width: 100%;
   height: 450px;
}
.title{
   text-transform: uppercase;
   font-family: 'Caveat', cursive;
   text-align: center;
   margin-top: 50px;
   position: relative;
}
.title::after{
   content: "";
   position: absolute;
   width: 300px;
   height: 1px;
   background-color: rgb(194, 191, 191);
   top: 50%;
   right: 50px;
}
.title::before{
   content: "";
   position: absolute;
   width: 300px;
   height: 1px;
   background-color: rgb(194, 191, 191);
   top: 50%;
   left: 50px;
}

.nav-link{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.text{
   color: #000;
   font-family: 'Amatic SC', cursive;
}
.select-menu-showmb{
   display: none;
}
.img-oring img{
   border-radius: 50%;
   border: 2px solid #000;
   width: 78px;
   height: 78px;
}

/*  -------menu drink ---------*/
.list{
   display: grid;
   grid-template-columns: auto auto auto auto;

}
.item .img img{
   height: 310px;
   width: 282px;
   overflow: hidden;
   transition: all 0.3s;
}
.item .img{
   display: flex;
   justify-content: center;
   align-items: center;
}
.item{
   padding: 9px 9px 50px 9px;
   transition: .5s;
}
.fisrt-child{
   border-right: none;
   border-bottom: none;
}

.item .name-drink h3{
   text-align: center;
   font-size: 25px;
}
.img {
   height: 310px;
   margin: 10px auto;
   overflow: hidden;
   position: relative;
   width: 282px;
}
.img img {
   max-width: 100%;
   transition: all 1s;
   -webkit-transform: scale(1);
           transform: scale(1);
}
.img:hover img {
   -webkit-transform: scale(1.1);
           transform: scale(1.1);
}



/*  -------PRODUCT DETAILS---------- */

.modal-dialog{
   max-width: 1000px;
}

.btn-danger{
   background-color: white;
   color: #000;
   border:1px solid #000;
   border-radius: 0;
}

.pd-wrap {
	padding: 40px 0;
	font-family: 'Poppins', sans-serif;
}

.product-name {
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 4px;
}
.product-price-discount {
	font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}
.product-price-discount span.line-through {
	text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}
.display-flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.product-info {
	width: 100%;
}
.reviews-counter {
    font-size: 13px;
}
.reviews-counter span {
	vertical-align: -2px;
}
.rate {
    float: left;
    padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color:#ccc;
	margin-bottom: 0;
	line-height: 21px;
}
.rate:not(:checked) > label:before {
    content: '\2605';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.product-dtl p {
	font-size: 14px;
	line-height: 24px;
	color: #7a7a7a;
}
.product-dtl .form-control {
	font-size: 15px;
}
.product-dtl label {
	line-height: 16px;
	font-size: 15px;
}
.form-control:focus {
	outline: none;
	box-shadow: none;
}
.product-count {
	margin-top: 15px; 
}
.product-count .qtyminus,
.product-count .qtyplus {
	width: 34px;
    height: 34px;
    background: #689F38;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.product-count .qtyminus {
	border-radius: 3px 0 0 3px; 
}
.product-count .qtyplus {
	border-radius: 0 3px 3px 0; 
}
.product-count .qty {
	width: 60px;
	text-align: center;
}
.round-black-btn {
	border-radius: 4px;
    background: #689F38;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #689F38; 
    transition: all 0.5s ease-in-out 0s;
    text-decoration: none;
}
.round-black-btn:hover,
.round-black-btn:focus {
	background: transparent;
	color: #212529;
	text-decoration: none;
}
/*  END PRODUCT DETAILS */

/* search  */


/* reponsive mobile */
@media only screen and (max-width: 768px) {
   .select-menu-showmb{
       display: block;
   }
   .title::after,.title::before{
       display: none;
   }
   .nav{
       display: none;
   }
   .baner{
      object-fit: cover;
      width: 100%;
      height: 100%;
   }
   .list{
      display: grid;
      grid-template-columns: auto;
   
   }
   .item .img img{
      height: 220px;
      width: 200px;
      overflow: hidden;
      transition: all 0.3s;
   }
   .item{
      margin-top: 50px;
   }

}
/* reponsive taplet */
@media only screen and (min-width:768px) and (max-width: 1199px) {
   .title::after,.title::before{
       display: none;
   }
   .baner{
      object-fit: cover;
      width: 100%;
      height: 100%;
   }
   .list{
      display: grid;
      grid-template-columns: auto auto ;
   
   }
}