/* section menu */
.baner{
   object-fit: cover;
   width: 100%;
   height: 450px;
}
.title{
   text-transform: uppercase;
   font-family: 'Caveat', cursive;
   text-align: center;
   margin-top: 50px;
   position: relative;
}
.title::after{
   content: "";
   position: absolute;
   width: 300px;
   height: 1px;
   background-color: rgb(194, 191, 191);
   top: 50%;
   right: 50px;
}
.title::before{
   content: "";
   position: absolute;
   width: 300px;
   height: 1px;
   background-color: rgb(194, 191, 191);
   top: 50%;
   left: 50px;
}

.nav-link{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.text{
   color: #000;
   font-family: 'Amatic SC', cursive;
}
.select-menu-showmb{
   display: none;
}
.img-oring img{
   border-radius: 50%;
   border: 2px solid #000;
   width: 78px;
   height: 78px;
}

/*  -------menu drink ---------*/
.list{
   display: grid;
   grid-template-columns: auto auto auto auto;

}
.item .img img{
   height: 310px;
   width: 282px;
   overflow: hidden;
   transition: all 0.3s;
}
.item .img{
   display: flex;
   justify-content: center;
   align-items: center;
}
.item{
   padding: 9px 9px 50px 9px;
   transition: .5s;
}
.fisrt-child{
   border-right: none;
   border-bottom: none;
}

.item .name-drink h3{
   text-align: center;
   font-size: 25px;
}
.img {
   height: 310px;
   margin: 10px auto;
   overflow: hidden;
   position: relative;
   width: 282px;
}
.img img {
   max-width: 100%;
   transition: all 1s;
   -webkit-transform: scale(1);
           transform: scale(1);
}
.img:hover img {
   -webkit-transform: scale(1.1);
           transform: scale(1.1);
}


/* product details */
.modal-dialog{
   max-width: 1000px;
}
.size{
   padding: 3px 9px;
   margin: 5px;
   border: none;
   color: #41424A;
   box-shadow: 26px 31px 85px -41px rgba(214,191,191,1);
-webkit-box-shadow: 26px 31px 85px -41px rgba(214,191,191,1);
-moz-box-shadow: 26px 31px 85px -41px rgba(214,191,191,1);
}
.size:focus{
   background-color: #000;
   color: #ffff;
   transition:  .5s ease-in;
}

.btn-danger{
   background-color: white;
   color: #000;
   border:1px solid #000;
   border-radius: 0;
}
.cart{
   width: 90%;
   display: block;
   margin-top: 10px;
   padding: 10px 20px;
   font-family: 'Amatic SC', cursive;
   font-size: 19px;
   letter-spacing: 3px;
   background-color: #ffff;
}
.cart:hover{
   background-color: #000;
   color: #ffff;
   transition: .4s ease-in-out;
}
.add{
   width: 90%;
   display: block;
   margin-top: 10px;
   padding: 10px 20px;
   font-family: 'Amatic SC', cursive;
   font-size: 19px;
   letter-spacing: 3px;
   background-color: #ffff;
}
.add:hover{
   background-color: #000;
   color: #ffff;
   transition: .4s ease-in-out;
}
/* reponsive mobile */
@media only screen and (max-width: 768px) {
   .select-menu-showmb{
       display: block;
   }
   .title::after,.title::before{
       display: none;
   }
   .nav{
       display: none;
   }
   .baner{
      object-fit: cover;
      width: 100%;
      height: 100%;
   }
   .list{
      display: grid;
      grid-template-columns: auto;
   
   }
   .item .img img{
      height: 220px;
      width: 200px;
      overflow: hidden;
      transition: all 0.3s;
   }
   .item{
      margin-top: 50px;
   }

}
/* reponsive taplet */
@media only screen and (min-width:768px) and (max-width: 1199px) {
   .title::after,.title::before{
       display: none;
   }
   .baner{
      object-fit: cover;
      width: 100%;
      height: 100%;
   }
   .list{
      display: grid;
      grid-template-columns: auto auto ;
   
   }
}