/* section menu */
.baner{
   object-fit: cover;
   width: 100%;
   height: 450px;
}
.title{
   text-transform: uppercase;
   font-family: 'Caveat', cursive;
   text-align: center;
   margin-top: 50px;
   position: relative;
}
.title::after{
   content: "";
   position: absolute;
   width: 300px;
   height: 1px;
   background-color: rgb(194, 191, 191);
   top: 50%;
   right: 50px;
}
.title::before{
   content: "";
   position: absolute;
   width: 300px;
   height: 1px;
   background-color: rgb(194, 191, 191);
   top: 50%;
   left: 50px;
}

.nav-link{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.text{
   color: #000;
   font-family: 'Amatic SC', cursive;
}
.select-menu-showmb{
   display: none;
}
.img-oring img{
   border-radius: 50%;
   border: 2px solid #000;
   width: 78px;
   height: 78px;
}
@media only screen and (max-width: 768px) {
   .select-menu-showmb{
       display: block;
   }
   .title::after,.title::before{
       display: none;
   }
   .nav{
       display: none;
   }
   .baner{
      object-fit: cover;
      width: 100%;
      height: 100%;
   }
}
@media only screen and (min-width:768px) and (max-width: 1199px) {
   .title::after,.title::before{
       display: none;
   }
   .baner{
      object-fit: cover;
      width: 100%;
      height: 100%;
   }
}